@import "./utils";
@import "./media-queries";

.mercato-section {
    padding: 10rem 0;
    background: url("./images/pro-background-light.png") no-repeat center/cover;

    .head {
        margin: auto;

        h1 {
            font-size: 3rem;
            color: $minty-color;
            background: $dark-color;
            text-align: center;

            @include mobile-media {
                font-size: 2rem;
            }
        }
    }

    .flex {
        @include flexCenter;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
        max-width: 1100px;
        margin: auto;


        div {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            @include flexCenter;
            flex: 1;


            .box {
                max-width: 400px;
                min-width: 200px;
                flex: 1;
                gap: 0;
                padding: 2rem;
                @include flexCenter;
                flex-direction: column;
                height: 300px;
                background: #fff;
                margin-bottom: 2rem;
                color: #000;
                box-shadow: 0px -1px 10px 0px #000006;
                border-radius: 10px;

                * {
                    flex: 1;
                    @include flexCenter;
                }

                p {
                    align-items: flex-start;
                    text-align: center;
                }

                h1 {
                    color: $red-color;
                    font-size: 3rem;
                    text-align: center;
                    align-items: flex-end;
                }
            }
        }

    }
}